<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text"><%= link_to "", root_path, class: "fa fa-home" %></li>
            <li class="menu-text"><a href="#">Two</a></li>
            <li class="menu-text"><a href="#">Three</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li class="menu-text">
              <% if @current_user %><a href="/logout/" type="button" class="button hollow">logout</a>
              <% else %>
              <a href="/home" type="button" class="button hollow">login</a>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <%= yield %>

  </body>
</html>
